manifest.version = '0.1.0'
params.version = manifest.version

profiles {

  standard {
    process {
      beforeScript =  '. /etc/profile.d/modules.sh'
      executor = "sge"
      errorStrategy = "finish"
      maxForks = 30

      withName: make_merge_demux_json {
        module = 'modules:modules-init:modules-gs'
        cpus = 1
        memory = '8 G'
      }

      withName: merge_demux {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 4
        memory = '24 G'
        penv = 'serial'
      }

      withName: process_hashes {
        cpus = 2
        memory = '24 G'
        penv = 'serial'
      }

      withName: trim_bams {
        module = 'modules:modules-init:modules-gs'
        cpus = 1
        memory = '48 G'
        penv = 'serial'
        ext.bbduk_path = '/net/gs/vol1/home/bge/src/bbmap/bbmap/bbduk.sh'
      }

      withName: make_star_align_json {
        module = 'modules:modules-init:modules-gs'
        memory = '8 G'
      }

      withName: align_bams {
        module = 'modules:modules-init:modules-gs:samtools/1.19:STAR/2.7.11b'
      }

      withName: make_merge_align_json {
        module = 'modules:modules-init:modules-gs'
        memory = '8 G'
      }

      withName: merge_align {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 4
        memory = '8 G'
        penv = 'serial'
      }

      withName: make_cds {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '64 G'
      }

    } // end of process
  }  // end of standard profile

}  // end of profiles
