manifest.version = '0.1.1'
params.version = manifest.version

profiles {

  standard {
    process {
      beforeScript =  '. /etc/profile.d/modules.sh'
      executor = "sge"
      errorStrategy = "finish"
      maxForks = 30

      withName: make_merge_demux_json {
        module = 'modules:modules-init:modules-gs'
        cpus = 1
        memory = '8 G'
      }

      withName: merge_demux {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 4
        memory = '24 G'
        penv = 'serial'
      }

      withName: make_process_hashes_json {
        cpus = 1
        memory = '16 G'
      }
      
      withName: process_hashes {
        cpus = 2
        memory = '24 G'
        penv = 'serial'
      }

      withName: cat_hashes {
        cpus = 1
        memory = '16 G'
      }

      withName: hash_umi_knee_plot {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
      }

      withName: calc_tot_hash_dup {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
      }

      withName: make_trim_bam_json {
        cpus = 1
        memory = '16 G'
      }

      withName: trim_bams {
        module = 'modules:modules-init:modules-gs'
        cpus = 1
        memory = '48 G'
        penv = 'serial'
        ext.bbduk_path = '/net/gs/vol1/home/bge/src/bbmap/bbmap/bbduk.sh'
      }

      withName: make_star_align_json {
        module = 'modules:modules-init:modules-gs'
        memory = '8 G'
      }

      withName: align_bams {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        ext.star_path = 'STAR'
      }

      withName: make_merge_align_json {
        module = 'modules:modules-init:modules-gs'
        memory = '8 G'
      }

      withName: merge_align {
        module = 'modules:modules-init:modules-gs:samtools/1.19'
        cpus = 4
        memory = '16 G'
        penv = 'serial'
      }

      withName: merge_starsolo_reports {
        cpus = 1
        memory = '8 G'
      }

      withName: split_starsolo_stats {
        cpus = 1 
        memory = '8 G'
      }

      withName: cat_matrices_raw {
        cpus = 1
        memory = '24 G'
      }

      withName: cat_matrices_filtered {
        cpus = 1
        memory = '24 G'
      }

      withName: make_cds_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '64 G'
      }

      withName: make_cds_filtered {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '64 G'
      }

      withName: assign_hash_raw {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
      }

      withName: assign_hash_filtered {
        module = 'modules:modules-init:modules-gs:R/4.3.2'
        memory = '16 G'
      }

    } // end of process
  }  // end of standard profile

}  // end of profiles
